@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  box-sizing: border-box;
  align-items: center;
}

.card {
  display: inline-block;
  background: #ffffff;
  left: 41%;
  margin-top: 5%;
  height: 400px;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 80px;
}
.bottom-suit {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 80px;
  transform: rotateZ(180deg);
}
.number {
  font-size: 80px;
  margin: 80px;
  margin-top: 120px;
  position: absolute;
}
